@import "tailwindcss";


/* Ocultar scrollbar para navegadores WebKit */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Ocultar scrollbar en Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}
